<div class="navigation">
    <div class="nav_logo">
        <a href="/"><img src="/assets/svg/logo.svg" alt="Logo" /></a>
    </div>
    <nav>
        <ul class="nav_links">
            <li><a href="/">Home</a></li>
            <li><a href="/ky">Away</a></li>
        </ul>
    </nav>
</div>